<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>ARTCA</title>

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<!-- Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="/css/external/slick/slick.css"/>
		<link type="text/css" rel="stylesheet" href="/css/external/slick/slick-theme.css"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="/css/external/nouislider/nouislider.min.css"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="/css/external/font-awesome/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="/css/shop/home.css"/>
    </head>
	<body>
		<nav class="navbar navbar-expand fixed-top navbar-light bg-light">
			<div class="container-fluid mx-5">
			  <a class="navbar-brand" href="/shop/home">
				<img src="/img/Logo.svg" alt="Logo" height="50px">
			  </a>
	  
			  <form class="input-group mx-5">
				<input class="form-control" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			  </form>
	  
			  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
				  <a class="nav-link me-4" href="#"><img src="/img/Messages.svg" alt="Shopping Cart" height="25px"></a>
				  <a class="nav-link me-4" href="#"><img src="/img/Bell.svg" alt="Shopping Cart" height="25px"></a>
				  <a class="nav-link" href="/auth/login">Login</a>
				  <a class="nav-link" href="/auth/register">Daftar</a>
				</div>
			  </div>
			</div>
		  </nav>
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Cari teknik lukisan apa?</h3>
							<a href="#"><h3 class="customin">Request Lukisan? Customin Aja! <i class="fa fa-arrow-circle-right"></i></h3></a>
						</div>
					</div>
					
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="/img/shop01.png" alt="">
							</div>
							<div class="shop-body">
								<h3>Lukisan<br>Teknik Aquarel</h3>
								<a href="#" class="cta-btn">Belanja Sekarang <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="/img/shop03.png" alt="">
							</div>
							<div class="shop-body">
								<h3>Lukisan<br>Teknik Plakat</h3>
								<a href="#" class="cta-btn">Belanja Sekarang <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="/img/shop02.png" alt="">
							</div>
							<div class="shop-body">
								<h3>Lukisan<br>Teknik Spray</h3>
								<a href="#" class="cta-btn">Belanja Sekarang <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title-produk">
							<h3 class="title">Produk terlaris</h3>
						</div>
					</div>
					<!-- /section title -->

					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/img/product01.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">READY</p>
												<h3 class="product-name"><a href="#">Lukisan Motif Bata</a></h3>
												<h4 class="product-price">Rp 600.000 <del class="product-old-price">Rp 1.000.000</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i><a href="/shop/product"> Kunjungi</a></button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/img/product02.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">READY</p>
												<h3 class="product-name"><a href="#">Lukisan Lampu Malam</a></h3>
												<h4 class="product-price">Rp 537.000 <del class="product-old-price">Rp 1.000.000</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Kunjungi</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/img/product03.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">READY</p>
												<h3 class="product-name"><a href="#">Lukisan Kota Tua</a></h3>
												<h4 class="product-price">Rp 821.000 <del class="product-old-price">Rp 1.000.000</del></h4>
												<div class="product-rating">
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Kunjungi</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/img/product04.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">PRE-ORDER</p>
												<h3 class="product-name"><a href="#">Lukisan Rumah Nenek</a></h3>
												<h4 class="product-price">Rp 857.000 <del class="product-old-price">Rp 1.000.000</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Kunjungi</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/img/product05.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">PRE-ORDER</p>
												<h3 class="product-name"><a href="#">Lukisan Ikan Cupang</a></h3>
												<h4 class="product-price">Rp 1.537.000 <del class="product-old-price">Rp 1.000.000</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Kunjungi</button>
											</div>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Rekomendasi Untukmu</h3>
						</div>
					</div>
					<!-- /section title -->
					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-2">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/img/product01.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">PRE-ORDER</p>
												<h3 class="product-name"><a href="#">Lukisan Motif Bata</a></h3>
												<h4 class="product-price">Rp 327.000 <del class="product-old-price">Rp 1.000.000</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/img/product02.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">PRE-ORDER</p>
												<h3 class="product-name"><a href="#">Lukisan Malam Indah</a></h3>
												<h4 class="product-price">Rp 327.000 <del class="product-old-price">Rp 1.000.000</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/img/product03.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">READY</p>
												<h3 class="product-name"><a href="#">Lukisan Kota Tua</a></h3>
												<h4 class="product-price">Rp 537.000  <del class="product-old-price">Rp 1.000.000</del></h4>
												<div class="product-rating">
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/img/product04.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">PRE-ORDER</p>
												<h3 class="product-name"><a href="#">Lukisan Rumah Kenangan</a></h3>
												<h4 class="product-price">Rp 537.000 <del class="product-old-price">Rp 1.000.000</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/img/product05.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">READY</p>
												<h3 class="product-name"><a href="#">Lukisan Ikan Cupang</a></h3>
												<h4 class="product-price">Rp 537.000 <del class="product-old-price">Rp 1.000.000</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-2" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="section-title-rekom">
							<h3 class="title"></h3>
						</div>
					</div>
					<!-- /section title -->
					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-3">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/img/product01.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Lukisan Motif Bata</a></h3>
												<h4 class="product-price">Rp 430.000 <del class="product-old-price">Rp 1.000.000</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/img/product02.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Lukisan Malam Petang</a></h3>
												<h4 class="product-price">Rp 439.000 <del class="product-old-price">Rp 1.000.000</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/img/product03.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Lukisan Kota Tua</a></h3>
												<h4 class="product-price">Rp 321.000 <del class="product-old-price">Rp 1.000.000</del></h4>
												<div class="product-rating">
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/img/product04.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Lukisan Rumah Nenek</a></h3>
												<h4 class="product-price">Rp 530.000 <del class="product-old-price">Rp 1.000.000</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="/img/product05.png" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">Category</p>
												<h3 class="product-name"><a href="#">Lukisan Cupang Indah</a></h3>
												<h4 class="product-price">Rp 430.000 <del class="product-old-price">Rp 1.000.000</del></h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
													<button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
													<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
												</div>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
											</div>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-3" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
						    <!-- Footer -->
							<footer class="text-center text-lg-start bg-light text-muted">  
								<!-- Section: Links  -->
								<section class="">
								<div class="container text-center text-md-start">
									<!-- Grid row -->
									<div class="row">
									<!-- Grid column -->
									<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
										<!-- Content -->
										<h6 class="text-uppercase fw-bold mb-4">
											<img src="/img/Logo.svg" alt="Logo" height="50px">
										</h6>
										<p>
											Artca merupakan perangkat lunak yang dikembangkan 
											untuk mempermudah masyarakat dalam melakukan 
											pembelian terhadap lukisan-lukisan
										</p>
									</div>
									<!-- Grid column -->
							
									<!-- Grid column -->
									<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 bagian1-footer">
										<!-- Links -->
										<h6 class="text-uppercase fw-bold mb-4">
										ARTCA
										</h6>
										<p>
										<a href="#!" class="text-reset">Tentang ARTCA</a>
										</p>
										<p>
										<a href="#!" class="text-reset">Pusat Bantuan</a>
										</p>
										<p>
										<a href="#!" class="text-reset">Syarat dan Ketentuan</a>
										</p>
										<p>
										<a href="#!" class="text-reset">Kebijakan Privasi</a>
										</p>
									</div>
									<!-- Grid column -->
							
									<!-- Grid column -->
									<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 bagian2-footer">
										<!-- Links -->
										<h6 class="text-uppercase fw-bold mb-4">
										Suarakan Idemu!
										</h6>
										<p>
										<a href="#!" class="text-reset">Lapor Bug</a>
										</p>
										<p>
										<a href="#!" class="text-reset">Feedback</a>
										</p>
									</div>
									<!-- Grid column -->
							
					
								</div>
								</section>
								<!-- Section: Links  -->
							
								<!-- Copyright -->
								<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
								© 2021 Copyright: Artca Painting Shop/ PT. Aneka Usaha Indonesia
								</div>
								<!-- Copyright -->
							</footer>

		<!-- jQuery Plugins -->
		<script src="/js/jquery/jquery.min.js"></script>
		<script src="/js/jquery/bootstrap.min.js"></script>
		<script src="/js/jquery/slick.min.js"></script>
		<script src="/js/jquery/nouislider.min.js"></script>
		<script src="/js/jquery/jquery.zoom.min.js"></script>
		<script src="/js/jquery/main.js"></script>

	</body>
</html>
